@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

h1 {
  font-family: 'Khula', sans-serif;
}

h2 {
  font-family: 'Khula', sans-serif;
}

h3 {
  font-family: 'Khula', sans-serif;
}

P {
  font-family: 'Khula', sans-serif;
}

a {
  font-family: 'Khula', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-item {
  color: rgb(72, 72, 72)!important;
}

.bg-secondary {
  background-color: #efefef!important;
}

.bg-secondary-grad {
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(239,239,239,1) 50%, rgba(255,255,255,1) 100%);
}

body {
  color: rgb(72, 72, 72);
  display: block;
}

.s-l:after {
  content: '';
  position: relative;
  top: 0;
  left: 0;
  background: #EFEFEF;
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 60% 0;
  -webkit-transform: skew(-30deg);
  -ms-transform: skew(-30deg);
  transform: skew(-60deg);
  z-index: -1;
}

.progress-bar {
  background-image: url(https://images.unsplash.com/photo-1557683316-973673baf926?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80);
  background-attachment: fixed;
  background-size: 100%;
}

.icon {
  color: #6c757d;
}

.gitlab:hover {
  fill: rgba(252,109,39,1);
}

.github:hover {
  fill: rgba(0,0,0,1);
}

.twitter:hover {
  fill: #5da5d5;
}

.linkedin:hover {
  fill: #0f78b5;
}

.email:hover {
  fill: #000;
}

@media (min-width: 600px) {
  .list-group-item:first-child {
    border-radius: 50px 0px 0px 50px!important;
    margin-left: auto;
  }

  .list-group-item:last-child {
    border-radius: 0px 50px 50px 0px!important;
    margin-right: auto;
  }
}

.php:hover {
  color: #5f7caf;
}

.react:hover {
  color: #23d9fd;
}


.list-group-item:hover {
  background-color: #efefef;
}

.carousel-item-smaller {
  padding-left: 15%;
  padding-right: 15%;
  width: 100%;
  height: 56.25vh;
}

.carousel-inner > .item {
  transition: ease-in-out left!important;
}

.carousel-caption {
  background-color: rgba(0,0,0,0.3);
  border-radius: 10px;
}

.divider-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.divider-bottom svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 56px;
}

.divider-bottom .shape-fill {
  fill: #FFFFFF;
}

.gradient {
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif!important;
}

.carousel-control-prev {
  background-color: rgba(0,0,0,0.3)!important;
  border-radius: 25px 0px 0px 25px;
  margin-left: 5%;
  width: 10%;
}

.carousel-control-next {
  background-color: rgba(0,0,0,0.3)!important;
  border-radius: 0 25px 25px 0;
  margin-right: 5%;
  width: 10%;
}

.pricing:first-child {
  border-left: none;
}

.pricing {
  border-left: 1px #fff solid;
}

.pricing:last-child {
  border-right: none;
}

#header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image: url(https://i.imgur.com/s7bV7AN.jpg)
}

@media only screen and (min-width: 600px) {
  .client {
    margin-left: 15vh;
    margin-right: 15vh;
  }
}

.client {
  width: auto;
}